# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\epure\OneDrive\Desktop\Facultate\ANUL_3\sem2\ASC\TEME\ASC-Producer-Consumer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
